
<div class="container">
<form action="/waiters/:username" method="post" data-toggle="validator">
  <a href="/waiters">Go To Main Page</a>
<br><br>


<div class="check" align="center">
  <h1>Choose Days Available To Work:</h1><br>

  <label class="radio-inline">
      <input type="checkbox" class="" name="day" required="true" value="sunday"><b>Sunday
    </label>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="monday"><b>Monday
    </label>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="tuesday"><b>Tuesday
    </label>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="wednesday"><b>Wednesday
    </label><br>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="thursday"><b>Thursday
    </label>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="friday"><b>Friday
    </label>

    <label class="radio-inline">
        <input type="checkbox" class="" name="day" required="true" value="saturday"><b>Saturday
    </label><br><br>
    <input type="submit" class="button" name="submit" value="Submit">

  </div>
  </form>


</div>
