
<div class="container">

<div class="input" align="center">

<br>
      <form class="" action="/waiters" method="post" data-toggle="validator">
        <h2>Add A New Waiter:</h2>
          <input type="text" class="addWaiter" name="waiter" required="true" placeholder="Enter Your Name">
          <input type="submit" class="button" name="addBtn" value="Add">
      </form>

  </div><br>

<div align="center">
      <h3>Waiters Available:</h3>

    <ul class="list">

      {{#each waiters}}
      <a href="/waiters/{{this}}">
        <li>{{this}}</li>
        </a>
      {{/each}}
    </ul>
</div>

</div>
