<div class="container">
  <a href="/waiters">Go To Main Page</a>
  <a class="avail" href="/days">See Available Waiters</a>
<br><br>


<form action="" method="post" data-toggle="validator">
<div class="check" align="center" required="true">
  <h1>{{resultOfWaiter}}</h1><br>

  <label class="radio-inline">
      <input type="checkbox" name="day" value="Sunday" {{#if days.Sunday}} checked {{/if}}><b>Sunday
    </label>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Monday" {{#if days.Monday}} checked {{/if}}><b>Monday
    </label>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Tuesday" {{#if days.Tuesday}} checked {{/if}}><b>Tuesday
    </label>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Wednesday" {{#if days.Wednesday}} checked {{/if}}><b>Wednesday
    </label><br>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Thursday" {{#if days.Thursday}} checked {{/if}}><b>Thursday
    </label>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Friday" {{#if days.Friday}} checked {{/if}}><b>Friday
    </label>

    <label class="radio-inline">
        <input type="checkbox" name="day" value="Saturday" {{#if days.Saturday}} checked {{/if}}><b>Saturday
    </label><br><br>
    <input type="submit" class="button" name="submit" value="Submit" required>
      <br><br><br>
    <div class="selectedDays">
      Days That Were Selected:
      {{days}}

    </div>
  </div>
  </form>



</div>
