

<div class="input" align="center">


      <form class="" action="/" method="post" data-toggle="validator">
          <input type="text" name="regNumber" required="true" placeholder="Enter Your Name">
          <input type="submit" class="button" name="addBtn" value="Add">
      </form>

  </div><br>
