<div class="container">
  <a href="/days">See Available Waiters</a>
<br><br>
<div class="input" align="center">
      <form class="" action="/waiters/add" method="post" data-toggle="validator">
        <h2>Add A New Waiter:</h2>
        {{#if messages.error}}
        <div class="error">
          {{messages.error}}
          <br>
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="success">
          {{messages.success}}
          <br>
        </div>
        {{/if}}
          <input type="text" class="addWaiter" name="waiter" required="true" placeholder="Enter Your Name">
          <input type="submit" class="button" name="addBtn" value="Add">
      </form>

  </div><br>

<div align="center">
      <h2>Waiters Available:</h2>

    <ul class="list">

      {{#each waiters}}
      <a href="/waiters/{{username}}">
        <li>{{username}}</li>
        </a>
      {{/each}}
    </ul>
</div>

</div>
