html, body {
    margin: auto;
    padding: auto;
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(to right, royalblue, royalblue);
}

.container{
  height: 95%;
  width: 85%;
  background-color: white;
  overflow: hidden;
}

.addWaiter{
  width: 25%;
  background-color: lightblue;
  color: white;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.days{
  text-shadow: 5px 3px 4px purple;
}

.list{
  font-size: 23px;
}

.avail{
  float: right;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  text-shadow: 5px 3px 4px royalblue;
}

.error{
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  color: #2243B6;
  text-shadow: 5px 3px 4px #CCFF00;
}

.success{
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  color: #004B8D;
  text-shadow: 5px 3px 4px #CCFF00;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 9px #999;
}

.button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 36px;
    padding: 0 20px;
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: underline;
    white-space: nowrap;
    background-color: lightblue;
    border-radius: 4px;
    border: 2px solid black;
    cursor: crosshair;
    box-sizing: border-box;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    color: white;
    border-color: black;
    outline: inherit;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

.card-body p a{
  text-decoration: none;
  color: black;
  height: 30%;
  font-weight: bold;
}
.row .d-flex{
  background-color: red;
}

.row .col-lg-2 {
  border: 0px solid #324b5c;
  background-color: royalblue;
  color: black;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  /*height: 20px;*/
  float: center;
}

.row .col-lg-2 li{
  display: inline-block;
  text-align: center;
}

.card-header{
  color: black;
  font-size: 30px;
}
.displayDaysNames{
  color: black;
}

.goMain{
  color: silver;
}
